Animator.sln
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Library/
Logs/
Temp/
UserSettings/
Unity.XR.Interaction.Toolkit.Samples.StarterAssets.csproj
.idea/.idea.Animator/.idea/encodings.xml
.idea/.idea.Animator/.idea/indexLayout.xml
.idea/.idea.Animator/.idea/projectSettingsUpdater.xml
.idea/.idea.Animator/.idea/vcs.xml
.idea/.idea.Animator/.idea/workspace.xml
obj/Debug/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
obj/Debug/Assembly-CSharp-Editor.csproj.AssemblyReference.cache
obj/Debug/Unity.XR.Interaction.Toolkit.Samples.StarterAssets.csproj.AssemblyReference.cache
Polyperfect.Universal.csproj
